body {
    font-family: Arial, sans-serif;
    background-color: orange;
    margin: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .container {
    background: bisque;
    padding: 20px;
    border: 3px solid white;
    border-radius: 12px;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input[type="number"] {
    width: 75%;
    padding: 8px;
    margin: 5px;
    border: 3px solid bisque;
    border-radius: 12px;
  }
  
  input[type="checkbox"] {
    margin: 5px;
  }
  
  button {
    background-color: #ff6600;
    color: bisque;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff5100;
  }
  